@media screen and (min-width: 780px) {
    .crop img{
        width: 100%;
        height: 280px;
        object-fit: cover;
        object-position:0 50%;
    }
    .crop{
        width: 100%;
        height: 280px;
        object-fit: cover;
        object-position:0 0;
    }
  }
  